$orange: #F2644F;
$purple: #B399B1;
$white: #fff;
$black: #232A2B;

body {
	font-family: "industry", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

header {
	color: $white;
	background-color: $orange;
	background-image: url(figurati-pattern-red.png);
	padding: 8%;
	text-align: center;

	h2 {
		font-weight: 400;
		font-style: bold;
	}

	.logo-type {
		width: 60%;
	}

	a {
		color: $white;
		font-weight: 600;
	}

	.instagram-logo {
		padding-right: 4px;
	}
}

h3 {
		font-weight: 400;
		font-style: normal;
	}

section {
	padding: 5%;
}
	

.info {
	text-align: center;
	background-color: $white;
	color: $black;

	a {
		color: $orange;
		text-decoration: none;
		font-weight: bold;
	}

	img {
		width: 30%;
	}
}


footer {
	padding: 2%;
	text-align: center;
	background-color: $black;
	color: $white;

	p {
		font-size: 14px;
	}
}

@media screen and (max-width: 900px) {
	.info img {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	.info img {
		width: 50%;
	}
}
